.dashboard-filter{
    background-color: #FAFAFA; 
       padding-top: 10px;
       padding-bottom: 10px;
       border-radius: 10px;
       
    }

    .filter-item{
        border-right: 1px solid rgb(189, 186, 186) ! important;
    }
    


    .filter-item3{
        border: none !important;
    }
    
    .list-group-item{
        background-color: #FAFAFA !important; 
        border: none;
    }

    


    #main-content{
        display: flex;
        flex-direction: column;
    }


    .filter-item .primary-text{
 font-size: 12px;
    }

    .filter-item .secondary-text{
        font-size: 18px;
    }


    header{
    padding-left: 2.5%;
    padding-right: 2.5%;
    }

    .recentpay-header{
        padding-left: 5%;
    }

  .graph-img{
    width: 314px;
  }
   .graph-info{
    padding-top: 7%;
    margin-bottom: -0px;
   }

   #paymentSubList{
    display: none;
   }

   #paymentSubList.open{
    display: block;
   }

   #report_subList{
    display: none;
}

#report_subList.open{
    display: block;
}

#Accseting_subList{
    display: none;
}

#Accseting_subList.open{
    display: block;
}

#people_subList{
    display: none;
}
#people_subList.open{
    display: block;
}



    @media screen and (min-width: 1300px){
  
        .filter-container{
            padding-right: 0px !important;
        }

        .filter-item .secondary-text{
            font-size: 20px;
        }

     .Payment-btn{
        margin-left: 15%;
     }


        .recentpay-header{
            padding-left: 7%;
        }

        .graph-info{
            margin-top: 11.5%;
            padding-left: 35px !important;
           }


    }



    @media screen and (min-width: 1400px){

     
        .filter-item .secondary-text{
            font-size: 24px;
        }
       
        .Payment-btn{
            margin-left: 1%;
         }


        .recentpay-header{
            padding-left: 5%;
        }

        .graph-info{
            padding-top: 6%;
            padding-left: 75px !important;
        }

    }
    

    














