body {
  position: relative;
}

* {
  font-family: "Mulish", sans-serif;
}

.header-logo {
  padding-top: 9%;
  margin-bottom: 8%;
}

.user-profile {
  /* padding-top: 50%; */
  cursor: pointer;
}

main {
  position: relative;
}

aside {
  background: #0a1249;
  z-index: 1;
  position: sticky;
  height: 100vh;
  top: 0;
  bottom: 0;
}

nav {
  background: whitesmoke;
  padding: 10px 0px 10px 20px;
  height: 50px;
}

nav :nth-child(2) {
  border-left: 2px solid #dfe0eb;
}

nav :nth-child(3) {
  border-left: 2px solid #dfe0eb;
}

.nav-icon {
  cursor: pointer;
}

.icon-container {
  padding-left: 20px;
  padding-right: 20px;
}

.search-icon {
  width: 15px;
  height: 16px;
}

.bell-icon {
  width: 14px;
  height: 13px;
}

.exit-icon {
  width: 15px;
  height: 15px;
}

#main-content {
  color: black;
}

.sidebar-btn {
  width: 140px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: #0a1249;
  font-size: 11px;
  font-weight: 400;
  margin: auto;
  cursor: pointer;
}

.sidebar-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}

.active {
  background: rgba(255, 255, 255, 0.1);
  border-left: 4px solid white;
}

.btn-img {
  width: 11px;
}

.arrow-down {
  width: 10px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar-container {
  text-align: center;
  border-radius: 50%;
  padding: 2px;
  border: 3px solid white;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

header {
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
}

.header-iconcontainer {
  width: 282px;
  background: rgba(245, 245, 245, 0.712);
  height: 30px;
  padding: 5px 10px;
  color: #dfe0eb;
  border-radius: 8px;
}

.header-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 30.12px;
}

.header-icon {
  width: 13.2px;
  height: 12px;
}

.primary-text {
  font-size: 13px;
  color: rgba(159, 162, 180, 1);
  font-weight: 400;
}

.secondary-text {
  color: rgba(37, 39, 51, 1);
  font-size: 20px;
  font-weight: 700;
}

header .secondary-text {
  font-weight: 600;
}

.ID {
  font-weight: 400;
}


.view_paymentbtn {
  width: 161px;
  height: 57px;
  color: black;
  border: 0px;
  border-radius: 8px;
  background-color: rgba(235, 235, 236, 1);
  padding: 10px 12px 10px 12px;
  font-weight: 600;
}

.initiate_paymentbtn {
  background-color: rgba(235, 238, 255, 1);
  color: blue;
  padding: 10px 12px 10px 12px;
  border: none;
  border-radius: 8px;
  width: 161px;
  height: 57px;
  font-weight: 600;
}

.greendot {
  width: 35px;
  height: 35px;
  padding-bottom: 5px;
}

.ID {
  border-bottom: 1px solid #f4f5f6;
  padding-top: 10px;
}

aside a {
  text-decoration: none;
}

.graph-img {
  width: 100%;
  border-radius: 10px;
}

.Payment .primary-text {
  font-size: 12px;
}

.Payment .secondary-text {
  font-size: 18px;
}

.companies {
  font-size: 13px;
  font-weight: 400;
}

.amount {
  font-size: 13px;
  font-weight: 600;
}

.no-id {
  font-size: 13px;
  font-weight: 400;
}

.graph-info-btn {
  width: 100%;
  max-width: 164px;
  border-radius: 5px;
  line-height: 1;
  padding-bottom: 10px;
}

.graph-info-btn-active {
  background: rgba(37, 39, 51, 0.03);
}

.graph-info-btn:hover {
  background: rgba(37, 39, 51, 0.05);
}

.duration-icon {
  padding: 4px 5px 5px 5px;
  background: rgba(245, 245, 245, 1);
  border-radius: 6px;
}

.btn-duration {
  background: rgba(250, 250, 250, 1);
  padding: 10px;
  border-radius: 8px;
  color: rgba(159, 162, 180, 1);
  border: none;
}


.alert-icon {
  width: 30px;
}

.volume-item {
  width: 218px;
  height: 80px;
  border-radius: 8px;
  padding: 10px 12px;
  background-color: white;
}

.sub-content {
  background: rgb(247, 244, 244);
}

.volume-container {
  background: rgba(250, 250, 250, 1);
}

.volume-item h5 {
  font-size: 18px;
  font-size: 700;
}

.seeall_btn {
  color: blue;
  border: none;
  font-weight: 500;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: white;
}

.seeall_btn:hover {
  text-decoration: underline;
}

#hidden-element {
  display: none;
}

#hidden-element.open {
  display: block;
}


div ul li {
  list-style-type: none;
  color: rgb(158, 153, 153);
  font-size: 12px;
  padding-right: 20px;
  cursor: pointer;
}

div ul li:hover {
  color: white;
}

.error {
  cursor: pointer;
}

.pop-up {
  position: absolute;
  display: block;
  width: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  animation-name: animatemodal;
  animation-duration: 0.5s;
  padding: 0px 10px 20px 10px;
}

.pop-up-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.307);
}

.pop_up_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pop_btn_container {
  text-align: center;
}

.pop-up h5 {
  color: #b33f3f;
  padding-left: 15px;
}

.pop-up ul {
  padding: 0px 0px 0px 18px;
  margin: 0;
}

.pop-up ul li {
  color: black;
  font-size: 16px;
  padding-bottom: 10px;
}

.pop-up ul li:hover {
  color: #0a1249;
}

.close-icon {
  padding-top: 10px;
}

#close-icon {
  font-size: 3rem;
  cursor: pointer;
  text-align: end;
  align-content: flex-start;
}

#close-icon:hover {
  color: red;
  font-size: 3rem;
}


@media screen and (min-width: 1300px) {
  .secondary-text {
    font-size: 22px;
  }

  .avatar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

  .avatar-container {
    text-align: center;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid white;
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
  }
  .sidebar-btn {
    width: 180px;
    font-size: 14px;
  }

  .sub-list {
    font-size: 13px;
  }

  .merchant-sublist {
    font-size: 13px;
  }

  .header-text {
    font-size: 20px;
  }

  .dashboard-filter {
    background: #fafafa !important;
    width: 96%;
    margin: auto;
  }

  .icon-container {
    padding-left: 22px;
    padding-right: 22px;
  }

  .search-icon {
    width: 16px;
    height: 17px;
  }

  .bell-icon {
    width: 15px;
    height: 14px;
  }

  .companies {
    font-size: 15px;
  }

  .amount {
    font-size: 15px;
  }

  .no-id {
    font-size: 15px;
  }

  .alert-icon {
    width: 40px;
  }

  .pop-up {
    left: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .secondary-text {
    font-size: 24px;
  }

  .sidebar-btn {
    width: 200px;
    font-size: 15px;
  }

  .companies {
    font-size: 15px;
  }

  .amount {
    font-size: 15px;
  }

  .no-id {
    font-size: 15px;
  }

  .alert-icon {
    width: 50px;
  }

  .sub-list {
    font-size: 15px;
  }

  .merchant-sublist {
    font-size: 15px;
  }
}
